.subreddit {
  height: 100%;
}

.content {
  max-width: 640px;
}

.profile-not-found {
  position: relative;
}

.message {
  color: white;
  text-align: center;
}

.profile-not-found__text {
  font-size: 50px;
  position: absolute;
  font-weight: 500;
  line-height: 22px;
  color: var(--secondary-color);
  top: 250px;
  text-align: center;
  width: 100%;
}
@media (max-width: 1070px) {
  .subreddit {
    width: 100%;
  }
}
