.post-page {
    display: flex;
    padding: 20px 24px;
    max-width: 1600px;
    box-sizing: border-box;
    background-color: white;
}

.post-page__content {

}

.post-page__post {

}

.post-page__title {

}

.post-page__description {

}

.post-page__comments {
    
}