.profile-not-found {
    position: relative;
}

.profile-not-found__text {
    font-size: 18px;
    position: absolute;
    font-weight: 500;
    line-height: 22px;
    color: var(--secondary-color);
    top: 250px;
    text-align: center;
    width: 100%;
}

.profile-not-found__skeletons {
    display: flex;
    flex-direction: column;
}