.main {
  display: flex;
  justify-content: center;
  padding: 20px 24px;
  column-gap: 24px;
  width: 100%;
}
.profile-container {
  animation: fadeIn ease 2s;
}
@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@media (max-width: 1070px) {
  .main {
    flex-direction: column-reverse;
  }
  .content {
    width: 100%;
  }
  .main {
    padding: 0;
    padding-top: 24px;
  }
}
