.profile {
  width: 100%;
}
.profile__button {
  background-color: #1a1a1b;
  background-color: var(--primary-color);
  border: 1px solid transparent;
  border-radius: 4px;
  color: gray;
  padding: 20x 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-left: 8px;
}

.profile__content{
    text-align: left;
  width: 110px;
}

.profile__username {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    white-space: nowrap;
    color: var(--secondary-color);
}

.profile__karma {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: #a8aaab;
}

.profile__button:hover {
  border: 1px solid #343536;
  cursor: pointer;
}

.profile__details {
    display: flex;
}

.profile__avatar {
    width: 24px;
    height: 24px;
}

.profile__button-icon {
  font-size: 20px;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  width: 20px;
}

@media(max-width: 1210px) {
  .profile__content {
    display: none;
  }
}

@media(max-width: 640px) {
  .profile__button {
    margin: 0;
    margin-left: 2px;
  }
}
