.community-modal {
  color: white;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}
.community-modal__icon_type_exit {
  cursor: pointer;
}
.community-modal__container {
  background-color: var(--primary-color);
  padding: 16px;
  box-sizing: border-box;
  border-radius: 4px;
  overflow-y: auto;
  border: 1px solid #343536;
  box-shadow: 0 2px 20px 0 rgb(0, 0, 0 / 30%);
  pointer-events: auto;
}

.community-modal__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #343536;
  padding: 0 0 8px;
  align-items: center;
  margin-bottom: 16px;
}

.community-modal__title {
  font-weight: 500;
  line-height: 20px;
  font-size: 16px;
  margin-bottom: 16px;
}

.community-modal__icon {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
}

.community-modal__description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
}

.community-modal__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: var(--secondary-color);
}

.community-modal__instruction {
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #818384;
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.community-modal__form {
  margin-top: 12px;
  margin-bottom: 30px;
}

.community-modal__input {
  max-height: 37px;
  padding-top: 4px;
  padding-left: 24px;
  border: 1px solid #343536;
  color: var(--secondary-color);
  padding: 12px 24px 4px 12px;
  border-radius: 4px;
  margin-bottom: 8px;
  height: 48px;
  background-color: var(--primary-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  font-family: inherit;
}

.community-modal__characters-remaining {
  color: #818384;
  padding-top: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.community-modal__community-type-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 4px;
  color: var(--secondary-color);
}
.community-modal__radio {
  margin-top: 16px;
}

.community-modal__radio-group {
  display: flex;
  column-gap: 8px;
  margin-top: 12px;
}
.community-modal__community-type {
  font-weight: 500;
  color: var(--secondary-color);
  font-size: 14px;
  line-height: 18px;
  padding-left: 4px;
  margin-top: -1px;
}
.community-modal__community-type-description {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #818384;
  margin: 1px 0 0 4px;
}
.community-modal__buttons {
  padding: 16px;
  margin: 16px -16px -16px;
  display: flex;
  justify-content: flex-end;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 100%;
  pointer-events: auto;
  background-color: #343536;
}

.community-modal__button {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 700;
  text-transform: unset;
  min-height: 32px;
  min-width: 32px;
  padding: 4px 16px;
  line-height: 17px;
  font-family: inherit;
  border-radius: 9999px;
  width: auto;
  text-align: center;
  box-sizing: border-box;
}

.community-modal__button_type_cancel {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  background-color: inherit;
}

.community-modal__button_type_cancel:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}

.community-modal__button_type_create {
  border: none;
  background-color: white;
  color: var(--primary-color);
}

.community-modal__button_type_create:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}
