.post-creator {
  color: white;
}

.post-creator__header {
}

.post-creator__top {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
  border-bottom: 1px solid #343536;
  padding: 4px;
}

.post-creator__title {
    margin-bottom: 8px;
}

.post-creator__drafts {
}
.post-creator__button_type_drafts {
}

.post-creator__subreddit-description {
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  line-height: 18px;
  outline: none;
  box-sizing: border-box;
  padding: 15px 17px;
  color: #818384;
  margin-bottom: 12px;
}

.post-creator__subreddit-name {
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.post-creator__button--active {
  border-width: 0px 1px 2px 0px !important;
  border-bottom-color: #3182ce !important;
  color: #3182ce !important;
}

.post-creator__upload-button {

}

.post-creator__form {
  margin-bottom: 12px;
  border-radius: 5px;
  background-color: var(--primary-color);
}

.post-creator__post-types {
    display: flex;
}

.post-creator__button {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  cursor: pointer;
  background-color: inherit;
  outline: none;
  box-sizing: border-box;
  padding: 15px 17px;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #343536;
  color: white;
  flex: 1;
  width: 113px;
  padding: 15px 17px;
}

.post-creator__icon {
    width: 20px;
    height: 20px;
}

.post-creator__button {
    display: flex;
    gap: 8px;
    align-items: center;
}

.post-creator__button {
}

.post-creator__inputs {
  margin: 16px;
}
.post-creator__input-container {
  margin-bottom: 8px;
}
.post-creator__input {
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid #343536;
  border-radius: 4px;
  overflow: hidden;
  padding: 8px 68px 8px 16px;
  color: white;
}

.post-creator__input_type_input {
  height: 39px;
}

.post-creator__input_type_textarea {
  height: 138px;
}

.post-creator__marks {
}

.post-creator__post-buttons {
  border-top: 1px solid #343536;
  margin: 16px;
  padding: 16px 16px;
  display: flex;
  justify-content: flex-end;
}

.post-creator__post-button {
  background-color: #dfe1e3;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: unset;
  line-height: 17px;
  text-transform: unset;
  min-height: 32px;
  min-width: 32px;
  padding: 4px 16px;
  /* cursor: not-allowed; */
  /* color: rgba(26, 26, 27, 0.5); */
  border-radius: 9999px;
  border: none;
}

.post-creator__post-button:hover {
  color: rgba(26, 26, 27, 0.5);
  cursor: pointer;
}

@media(max-width: 1070px) {
  .post-creator {
    display: block;
    width: 100%;
  }
}

@media(max-width: 550px) {
  .post-creator__button {
    padding: 7.5px 8.5px;
    gap: 2px;
  }
}

@media(max-width: 410px) {
  .post-creator__button {
    padding: 3.75px 4.75px;
  }
}
