@font-face {
  font-family: "Google Sans";
  src: url(../../assets/ProductSans-Regular.ttf);
}
.sign-up-modal {
  color: white;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

.sign-up-modal__container {
  background-color: var(--primary-color);
  box-sizing: border-box;
  border-radius: 4px;
  overflow-y: auto;
  border: 1px solid #343536;
  box-shadow: 0 2px 20px 0 rgb(0, 0, 0 / 30%);
  pointer-events: auto;
  display: flex;
  align-items: center;
  width: 850px;
  height: 650px;
  position: relative;
}

.sign-up-modal__exit-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  filter: brightness(0) invert(1);
  flex-grow: 0;
}

.sign-up-modal__oauth {
  font-family: "Google Sans";
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 2px 10px;
  width: 200px;
  max-width: 400px;
  min-width: min-content;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-radius: 20px;
  height: 40px;
  letter-spacing: 0.25px;
  cursor: pointer;
  border: 1px solid #dadce0;
  color: black;
  width: 100%;
}
.sign-up-modal__oauth:hover {
  color: #3c4043;
}

.sign-up-modal__oauth-text {
  flex-grow: 1;
}

.sign-up-modal__divider {
  display: flex;
  align-items: center;
  margin: 28px 0;
  justify-content: space-between;
}

.sign-up-modal__divider-line {
  border-top: 1px solid #edeff1;
  width: 40%;
}

.sign-up-modal__divider-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: white;
}

.sign-up-modal__exit {
  position: absolute;
  background-color: inherit;
  border: none;
  right: 16px;
  top: 16px;
  cursor: pointer;
}
.sign-up-modal__icon {
  width: 18px;
  height: 18px;
}

.sign-up-modal__title {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.sign-up-modal__description {
  margin-bottom: 48px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 8px;
  font-family: inherit;
  color: var(--secondary-color);
}

.sign-up-modal__link {
  color: #0079d3;
  text-decoration: none;
  cursor: pointer;
}

.sign-up-modal__image {
  width: 156px;
  background-image: url("https://www.redditstatic.com/accountmanager/bbb584033aa89e39bad69436c504c9bd.png");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.sign-up-modal__content {
  padding: 24px;
}

.sign-up-modal__form {
  width: 280px;
}

.sign-up-modal__input {
  outline: 0;
  width: 100%;
  transition: all 0.2s ease-in-out;
  padding: 22px 12px 18px;
  height: 12px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #fcfcfb;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  font-family: inherit;
  border: 2px solid #24a0ed;
  margin-top: 24px;
}

.sign-up-modal__button {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: unset;
  line-height: 18px;
  text-transform: unset;
  background: #0079d3;
  border-radius: 999px;
  color: #fff;
  height: 40px;
  padding: 0 16px;
  border: none;
  width: 100%;
  margin-top: 12px;
  cursor: pointer;
}
.sign-up-modal__button:hover {
  background-color: #1484d7;
}

.sign-up-modal__bottom-text-container {
  margin-top: 24px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.sign-up-modal__bottom-text {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0079d3;
  text-decoration: none;
  padding-left: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media(max-width: 930px) {
  .sign-up-modal__container {
    width: 85%;
  }
}