.about {
  /* background-color: var(--primary-color); */
  background-color: linear-gradient(rgb(25, 15, 34) 0%, rgb(36, 37, 38) 70%);
  color: var(--secondary-color);
  font-size: 14px;
  border: 1px solid #474748;
  border-radius: 4px;
  overflow: visible;
  word-wrap: break-word;
}

.about__description {
  margin-bottom: 8px;
}

.about__admin {
  display: flex;
  flex-direction: column;
  font-size: 10pt;
  margin-top: 4px;
  word-wrap: break-word;
}

.about__admin-text {
  font-weight: 600;
  word-wrap: break-word;
  height: 100%;
  width: 100%;
}

.about__admin-functions {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.about__admin-image {
  height: 40px;
  width: 40px;
  border-radius: 9999px;
}

.about__admin-description {
  display: flex;
  column-gap: 8px;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s linear 0s;
  font-size: 14px;
  line-height: 21px;
  justify-content: space-between;
  font-weight: 400;
  width: 100%;
}

.about__admin-description:hover {
  border: 1px solid var(--secondary-color);
  padding: 4px;
  border-radius: 4px;
}

.about__admin-input {
  width: 100%;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  font-size: 9pt;
  font-weight: 700;
  color: #3182ce;
  cursor: pointer;
  background-color: var(--secondary-color);
  color: black;
}

.about__admin-change-image {
  cursor: pointer;
  word-wrap: break-word;
  color: #3182ce;
}

.about__members {
  display: grid;
  grid-template-columns: auto auto 42px;
  column-gap: 12px;
}

.about__block {
}

.about__number {
}

.about__member {
}

.about__block {
}

.about__number {
}

.about__member {
}

.about__thematic-break {
  margin: 16px 0;
  height: 1px;
  border: none;
  background-color: #343536;
}

.about__cakeday {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 12px;
}

.about__icon {
}

.about__date {
}

.about__button {
  width: 100%;
  font-weight: 700;
  border: none;
  border-radius: 9999px;
  min-height: 32px;
  min-width: 32px;
}

.about__button:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

.about__button_type_create {
  background-color: white;
  color: var(--primary-color);
  font-size: 14px;
  letter-spacing: unset;
  line-height: 17px;
  text-transform: unset;
  padding: 4px 16px;
  box-sizing: border-box;
}

.about__button_type_options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 12px;
  text-transform: uppercase;
  color: var(--secondary-color);
  padding: 0 12px;
  border: 1px solid transparent;
  background: transparent;
}
.about__button_type_options:hover {
  background-color: #474748;
  cursor: pointer;
}
