.header {
  /* background-color: rgb(36, 37, 38); */
  background-color: rgb(36, 37, 38);
  height: 48px;
  border-bottom: 1px solid rgb(57, 58, 59);
}

.header__content {
  max-width: 97%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
}

.header__left {
  display: flex;
  align-items: center;
  flex-grow: 0;
}

.header__dropdown-profile {
  width: 100%;
}

.header__left:hover {
  cursor: pointer;
}

.header__links {
  display: flex;
  align-items: center;
}

.header__dropdown {
  display: flex;
  align-items: center;
  max-width: 270px;
  justify-content: space-between;
  padding: 0.5rem 0.25rem;
  box-sizing: border-box;
}

.header__dropdown:hover {
  border: 1px solid #343536;
  box-sizing: border-box;
  border-radius: 4px;
}

.header__dropdown-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__dropdown-icon {
  width: 20px;
  height: 20px;
  color: white;
  line-height: 34px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.header__dropdown-title {
  display: inline;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.header__dropdown-menu {
  max-width: 270px;
  position: relative;
  overflow: scroll;
}

.header__dropdown-icon {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 32px;
  height: 32px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.header__logo-name {
  width: 57px;
  height: 18px;
  margin-right: 20px;
}

.header__container {
  /* background-color: #272729; */
  background-color: rgb(25, 26, 27);
  color: var(--secondary-color);
  margin: 0 auto;
  width: 690px;
  flex-grow: 1;
  border-radius: 10px;
  display: flex;
  height: 36px;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;
}

.header__search-icon-container {
  padding: 0 9px 0 15px;
  padding-left: 15px;
  padding-right: 9px;
  display: flex;
  align-items: center;
}

.header__search-icon {
  color: gray;
  width: 20px;
  height: 36px;
}

.header__search-input {
  background-color: rgb(25, 26, 27);
  border: none;
  font-weight: 400;
  color: var(--secondary-color);
  width: 99%;
}

.header__search-input:focus {
  all: unset;
}

.header__right {
  display: inline-flex;
  align-items: center;
  flex-grow: 0;
}

.header__buttons {
  display: flex;
  align-items: center;
}

.header__button {
  padding: 4px 16px;
  min-height: 32px;
  min-width: 32px;
  line-height: 17px;
  text-transform: unset;
  font-weight: 700;
  font-size: 14px;
  border-radius: 9999px;
  border: none;
  box-sizing: border-box;
  text-align: center;
}

.header__button_type_log-in {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.header__button_type_log-in:hover {
  background-color: rgb(36, 37, 38);
  cursor: pointer;
}

.header__button_type_sign-up {
  margin-left: 4px;
}

.header__button_type_sign-up:hover {
  background-color: rgb(215, 218, 220);
  cursor: pointer;
}

.header__search-form {
  width: 100%;
}

@media (max-width: 1110px) {
  .header_buttons {
    width: 100%;
  }
  .header__button {
    width: 85px;
  }
}

@media (max-width: 1070px) {
  .header__logo-name {
    display: none;
  }
}

@media (max-width: 995px) {
  .header__dropdown-title {
    display: none;
  }
}

@media (max-width: 640px) {
  .header__search-input:focus {
    width: 100%;
  }
}
