.header {
    background-color: #FFFFFF;
    height: 48px;
}

.header-content{
    width: 97%;
    height: 100%;
    background-color: red;
}

.logo {
    width: 32px;
    height: 32px;
}

.logoName {
    width: 57px;
    height: 18px;
}