:root {
  --primary-color: #1a1a1b;
  --secondary-color: #d7dadc;
}
.header {
  background-color: rgb(26, 26, 27);
  height: 48px;
}

.header__content {
  width: 97%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
}

.header__left {
  display: flex;
  align-items: center;
  flex-grow: 0;
}

.header__links {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 32px;
  height: 32px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.header__logo-name {
  width: 57px;
  height: 18px;
  margin-right: 20px;
}

.header__container {
  background-color: #272729;
  color: var(--secondary-color);
  margin: 0 auto;
  width: 690px;
  flex-grow: 1;
  border-radius: 4px;
  display: flex;
  height: 36px;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;
}

.header__search-icon-container {
  padding: 0 9px 0 15px;
  padding-left: 15px;
  padding-right: 9px;
  display: flex;
  align-items: center;
}

.header__search-icon {
  color: gray;
  width: 20px;
  height: 36px;
}

.header__search-input {
  background-color: inherit;
  border: none;
  font-weight: 400;
  color: var(--secondary-color);
  width: 100%;
}

.header__search-input:focus {
  all: unset;
}

.header__right {
  display: inline-flex;
  align-items: center;
  flex-grow: 0;
}

.header__buttons {
  display: flex;
  align-items: center;
}

.header__button {
  padding: 4px 16px;
  min-height: 32px;
  min-width: 32px;
  line-height: 17px;
  text-transform: unset;
  font-weight: 700;
  font-size: 14px;
  border-radius: 9999px;
  border: none;
  box-sizing: border-box;
  text-align: center;
}

.header__button_type_log-in {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.header__button_type_log-in:hover {
  background-color: rgb(26, 26, 27);
  cursor: pointer;
}

.header__button_type_sign-up {
  margin-left: 4px;
}

.header__button_type_sign-up:hover {
  background-color: rgb(215, 218, 220);
  cursor: pointer;
}

.header__profile-button {
  background-color: #1a1a1b;
  border: 1px solid transparent;
  border-radius: 4px;
  color: gray;
  padding: 20x 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  height: 32px;
  width: 70px;
  margin-left: 8px;
}

.header__profile-button:hover {
  border: 1px solid #343536;
  cursor: pointer;
}

.header__profile-button-icon {
  font-size: 20px;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  width: 20px;
}
