.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter__categories {
  display: flex;
}
.filter__category {
  border-radius: 20px;
  background-color: #272729;
  border: 1px solid transparent;
  margin-right: 8px;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  column-gap: 4px;
  color: white;
}
.filter__category:hover {
  background-color: #343434;
  cursor: pointer;
}
.filter__icon {
  width: 24px;
  height: 24px;
}

@media (max-width: 640px) {
  div.filter__category {
    display: none;
  }
}
