.card {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 12px;
  font-size: 14px;
  border: 1px solid #474748;
  border-radius: 4px;
  overflow: visible;
  word-wrap: break-word;
}