.header {
  height: 39px;
  border-bottom: 1px solid #343536;
  border-top: 1px solid #343536;
  background-color: var(--primary-color);
  width: 100%;
  display: flex;
  justify-content: center;
}

.header__tabs {
  display: flex;
  column-gap: 10px;
  height: 40px;
  overflow-y: auto;
}

.header__tab {
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  padding: 0 8px;
  white-space: nowrap;
  text-transform: uppercase;
  height: 100%;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__tab--active {
  box-shadow: inset 0 -2px 0 0 var(--secondary-color);
}
