.post-creator-card {
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
}

.post-creator-card__input {
  background-color: #272729;
  border-radius: 4px;
  border: 1px solid #343536;
  box-sizing: border-box;
  height: 38px;
  margin-right: 8px;
  outline: none;
  padding: 0 16px;
  color: var(--secondary-color);
  flex-grow: 1;
}

.post-creator-card__icon-link {
  border-radius: 4px;
  min-height: 40px;
  min-width: 40px;
  display: grid;
  place-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.post-creator-card__icon-link:hover {
  background-color: #343536;
}

.post-creator-card__icon {
  color: #818384;
  width: 24px;
  height: 24px;
  display: inline-block;
  line-height: 20px;
  font-size: 20px;
  border-radius: 4px;
}
.post-creator-card__picture {
  background-color: #343536;
  border-radius: 50%;
  margin-right: 8px;
  flex-basis: 38px;
  cursor: pointer;
}
.post-creator-card__profile-icon {
  width: 38px;
  height: 38px;
  transform: scale(1.3);
  transform-origin: bottom center;
  clip-path: polygon(
    0 68.22%,
    12.12% 68.22%,
    12.85% 71.49%,
    13.86% 74.69%,
    15.14% 77.79%,
    16.69% 80.77%,
    18.49% 83.6%,
    20.54% 86.26%,
    22.8% 88.73%,
    25.28% 91%,
    27.94% 93.04%,
    30.77% 94.85%,
    33.75% 96.4%,
    36.85% 97.68%,
    40.05% 98.69%,
    43.32% 99.42%,
    46.65% 99.85%,
    50% 100%,
    53.35% 99.85%,
    56.68% 99.42%,
    59.95% 98.69%,
    63.15% 97.68%,
    66.25% 96.4%,
    69.23% 94.85%,
    72.06% 93.04%,
    74.72% 91%,
    77.2% 88.73%,
    79.46% 86.26%,
    81.51% 83.6%,
    83.31% 80.77%,
    84.86% 77.79%,
    86.14% 74.69%,
    87.15% 71.49%,
    87.88% 68.22%,
    100% 68.22%,
    100% 0,
    0 0
  );
}

@media (max-width: 640px) {
  .post-creator-card {
    width: 100%;
  }
}
