a {
    all: unset;
}
.post-excerpt{
    display: flex;
    color: rgb(215, 218, 220);
}

.post-excerpt__content {

}

.post-excerpt__container {

}

.post-excerpt__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.post-excerpt__description {

}

.post__buttons {

}

.post-excerpt__divider {
    
}
