main {
  padding: 20px 24px;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(24, 25, 26);
  animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@media (max-width: 1070px) {
  main {
    display: block;
    max-width: 100%;
    padding: 0;
    padding-top: 20px;
    overflow: scroll;
  }
}
