main {
  padding: 20px 24px;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  width: 100%;
  background-color: black;
  height: 100%;
}


@media (max-width: 1070px) {
  main {
    display: block;
    max-width: 100%;
    padding: 0;
    padding-top: 20px;
    overflow: scroll;
  }
}