.comment {
  color: white;
  display: flex;
  column-gap: 8px;
  margin-bottom: 10px;
}

.comment__content {
  display: flex;
  align-items: center;
}

.comment__author {
  margin-bottom: 6px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.comment__date {
  font-size: 12px;
  color: rgb(129, 131, 132);
}

.comment__message {
  font-size: 14px;
  margin-bottom: 6px;
}

.comment__treadline {
  height: 50px;
  border-right: 2px solid #343536;
  display: block;
  padding: 0;
  margin: 0 auto;
  cursor: pointer;
}

.comment__icon {
  width: 36px;
  height: 36px;
  margin: 0 auto;
}
.hide {
  display: none;
}

.comment__profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  transform-origin: bottom center;
  background-color: #343536;
  margin-bottom: 12px;
}

.comment__author {
}

.collapse-line {
  border: none;
  background: none;
  padding: 0;
  width: 15px;
  margin-top: 0.5rem;
  position: relative;
  cursor: pointer;
  outline: none;
  transform: translateX(-50%);
}

.collapse-line:hover::before,
.collapse-line:focus-visible::before {
  background-color: hsl(235, 100%, 60%);
}

.collapse-line::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  background-color: hsl(235, 50%, 74%);
  transition: background-color 100ms ease-in-out;
}

.comment__button {
  --hue: 235;
  --color: hsl(var(--hue), 100%, 67%);
  padding: 0.5em 1em;
  margin-top: 1rem;
  background: var(--color);
  border: none;
  color: white;
  border-radius: 0.5em;
  font-size: 0.75em;
  cursor: pointer;
}
