.comment {
    color: white;
    display: flex;
    column-gap: 8px;
}

.comment__content {
    display: flex;
    align-items: center;
}

.comment__author {
    margin-bottom: 6px;
}

.comment__message {

    margin-bottom: 6px;
}

.comment__treadline {
    height: 50px;
    border-right: 2px solid #343536;
    display: block;
    width: 50%;
}

.comment__icon {
    width: 36px;
    height: 36px;
}

.comment__author {

}